body {
  background-color: #efefef !important;
}

.card-item {
  margin: 20px 0;
}

img.logo:hover,
.press-image:hover {
  cursor: pointer;
}

img.logo {
  width: 50%;
  margin: 0 25%;
}

.press-image {
  width: 100%;
}