@import './base/base_hub.scss';

.gallery{
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  position: relative;

  &__big-frame{
    height: 102%;
    width: 100%;
    position: absolute;
    bottom: 0%;

    img:first-child{
      position: absolute;
      width: 100%;
      height: 100%;
      max-width: 1680px;
      left: 50%;
      margin-left: -50%;
      // top: 4vh;
      z-index: 1;
   
    }

    img:last-child{
      position: absolute;
      left: 21.3%;
      width: 50vw;
      max-width: 92vh;
      top: 19vh;
      z-index: 1;

      // @media #{$mq-xlarge} {
      //   width: 56%;
      //   height: 58.2vh;
      //   top: 21.5vh;
      //   left: 50%;
      // }

      // @include MIN_MAX_QUERY(1280 , 1366) {
      //   width: 54.5%;
      //   height: 55.2vh;
      //   top: 25.5vh;
      //   // left: 55%;
      // }
    }


  }

  &__navbar_right{
    right: 11%;
    position: absolute;
    bottom: 2vh;
    /* left: 0; */
    z-index: 6;
    height: 15%;
  }
  &__navbar_left{
    left: 11%;
    transform: rotateY(180deg);
    position: absolute;
    bottom: 2vh;
    /* left: 0; */
    z-index: 6;
    height: 15%;
    
  }
  &__navbar_light_right{
    position: absolute;
    /* left: 0; */
    z-index: 6;
    right: 13.9%;
    bottom: 8.7vh;
    height: 8%;
    opacity: 0;
       &:hover{
         opacity: 1;
        }
      }  
  &__navbar_light_left{
    transform: rotateY(180deg);
    position: absolute;
    /* left: 0; */
    z-index: 6;
    left: 13.9%;
    bottom: 8.7vh;
    height: 8%;
    opacity: 0;
    &:hover{
      opacity: 1;
  }
  }

  &__holder{
    position: absolute;
    height: 16%;
    top: 0;
  }

  &__bottom{
    z-index: 1;
    height: 24.5vh;
    position: relative;
    // left: -30px;
    bottom: -4vh;
    // width: 300px;

    @include MIN_MAX_QUERY(1280 , 1366) {
      top: 57px;
      height: 180px;
    }
  }
  

  &__naser{
    z-index: 2;
    width: 165px;
    height: 103px;
    position: absolute;
    top: -5px;
    object-fit: cover;  
  }

  &__images{
    position: relative;
  }

  &__container{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    overflow: hidden;
    width: 100%;
    z-index: 4;
    height: 100%;
  }
}