@import './base/base_hub.scss';

.gallery{
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  position: relative;

  &__big-frame{
    height: 102%;
    width: 100%;
    position: absolute;
    bottom: 0%;

    img:first-child{
      z-index: 1;
      z-index: 1;
      position: absolute;
      left: 50%;
      margin-left: -51%;
      width: 100%;
      @media #{$mq-xlarge} {
        margin-left: -53%;
        width: 100%;
        max-width: 1680px;
      }
    }

    img:last-child{
      position: absolute;
      width: 52%;
      height: 55.2%;
      top: 18.5%;
      left: 24%;
      z-index: 50;
    }


  }

  &__navbar_right{
    right: 11%;
    position: absolute;
    bottom: 0;
    /* left: 0; */
    z-index: 6;
    height: 15%;
  }
  &__navbar_left{
    left: 11%;
    transform: rotateY(180deg);
    position: absolute;
    bottom: 0;
    /* left: 0; */
    z-index: 6;
    height: 15%;
  }

  &__holder{
    position: absolute;
    height: 16%;
    top: 0;
  }

  &__bottom{
    z-index: 1;
    height: 225px;
    position: relative;
    left: -30px;
    top: -9px;
    width: 300px;
  }
  

  &__naser{
    z-index: 2;
    width: 165px;
    height: 103px;
    position: absolute;
    top: -5px;
    object-fit: cover;  
  }

  &__images{
    position: relative;
  }

  &__container{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    overflow: hidden;
    width: 100%;
    z-index: 5;
    height: 100%;
  }
}