@import './base/base_hub.scss';

.join-us{
  width: 100%;
  height: 100%;

  &__body{
    background-image: url("../../images/1150231-popular-forest-wallpaper-hd-1920x1200.jpg");
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: relative;

    > img {
      // position: relative;
      bottom: 0;
    }

    &-input{
      bottom: 33%;
      position: absolute;
      background-color: black;
      opacity: 0.5;
      // height: 4.8%;
      width: 31%;
      color: white;
      border: none;
      font-size: 2em;
    }
    &-social{
      position: absolute;
      bottom: 3%;

      a{
        position: absolute;
        bottom: 0%;
        display: inline-table;
        @media #{$mq-xlarge} {
          width: 165px;
          height: 165px;
        }
        &:hover{
          img{
            display: block;
          }
        }
        img{
          display: none;
        }
      }
      // img:hover{
      //   display: block;
      // }
    }
  }
}