@import './base/base_hub.scss';

.join-us{
  width: 100%;
  max-width: calc( 100vh * 16 / 10);
  height: 100%;
  position: relative;
  
  &__body{
    background-image: url("../../images/BackGround2.jpg");
    width: 100%;
    max-width: calc( 100vh * 16 / 10);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: relative;
    // top: 6%;
    > img {
      // left: 50%;
      // position: absolute;
      max-height: 100vh;
      // left: 50%;
      // height: 32%;
      // margin-left: -30vh;
      // @media #{$mq-xlarge} {
      //   // width: 750px;
      //   // height: unset;
      //   margin-left: -375px;
      // }
    }

    &-input{
      position: absolute;

      bottom: 41.5vh;
      height: 7vh;
      width: 60vh;
      // margin-left: -11%;

      background-color: transparent;
      opacity: 0.5;
      // height: 4.8%;
      color: white;
      border: none;
      font-size: 2em;
      z-index: 20;
      &:focus{
        outline: none;
      }
    }
    &-social{
      position: absolute;
      max-width: calc( 100vh * 16 / 10);
      width: 100%;
      height: 100vh;
      
      a{
        img{
          height: 18vh;
          position: absolute;
          bottom: 9.8vh;
          opacity: 0;
        }

        &:hover{
          img{
            opacity: 1;
            // visibility: visible;
          }
        }
      &:first-child>img{
        left: 98vh;
      }
      &:nth-child(2)>img{
        left: 80vh;
      }
      &:nth-child(3)>img{
        left: 61.9vh;
      }
      &:nth-child(4)>img{
        left: 44vh;
      }
      &:last-child>img{
        left: 61.1vh;
        bottom: 28vh;
        height: 11vh;

       }
      // a:nth-child(2){
      //   margin-left: -165px;
      // }
      // a:nth-child(3){
      //   margin-left: -10px;
      // }
      // a:last-child{
      //   margin-left: 147px;
      // }
       
      }
      // @media #{$mq-xlarge} {
      // a{
      //     // width: 165px;
      //     // height: 165px;
      //     // margin-bottom: 15px;
      // }

      // }
    }
  }
}