@import './base/base_hub.scss';

.join-us{
  width: 100%;
  height: 100%;
  
  &__body{
    background-image: url("../../images/1150231-popular-forest-wallpaper-hd-1920x1200.jpg");
    width: 100%;

    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: relative;

    > img {
      @media #{$mq-xlarge} {
        width: 750px;
      }
      bottom: 0;
    }

    &-input{
      bottom: 310px;
      height: 50px;
      position: absolute;
      background-color: black;
      opacity: 0.5;
      // height: 4.8%;
      width: 31%;
      color: white;
      border: none;
      font-size: 2em;
    }
    &-social{
      position: absolute;
      bottom: 2%;
      width: 33%;
      @media #{$mq-xlarge} {
        width: 750px;
      }
      
      a{
        position: absolute;
        bottom: 0%;
        display: inline-table;

        &:hover{
          img{
            display: block;
          }
        }
        img{
          display: none;
        }
      }
      @media #{$mq-xlarge} {
        a{
          width: 165px;
          height: 165px;
        }
      a:first-child{
        left: 70px;
      }
      a:nth-child(2){
        left: 218px;
      }
      a:nth-child(3){
        left: 370px;
      }
      a:last-child{
        left: 515px;
      }
      }
    }
  }
}