
.news{
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
  // padding-left: 180px;
  align-items: flex-end;
  overflow-x: hidden;
  justify-content: flex-start;
  
  @media #{$mq-xlarge} {
    height: 100vh;
  }
  &-slide__holder{

    // margin-left: 100px;
    position: absolute;
      top: 0;

    height: 100vh

    
  }
  &-slide__link{
    font-size: 2vh;
    line-height: 1.2em;
    color: burlywood;
    position: absolute;
    z-index: 10;
    right: -2vh;
    max-width: 60%;
    top: 76vh;
    word-break: break-word;
    font-family: CourierPolski1941, sans-serif, Arial, Helvetica, sans-serif;
  }
  &-slide__content{
    white-space: pre-line;
    text-align: left;
    font-size: 1.8vh;
    line-height: 1.2em;
    color: burlywood;
    position: absolute;
    z-index: 10;

    right: -18vh;
    max-width: 58%;
    top: 25vh;    
    //  bottom: 35vh;
    // padding-top: 15%;
    word-break: break-word;
    font-family: CourierPolski1941, sans-serif, Arial, Helvetica, sans-serif;

    @include MIN_MAX_QUERY(680 , 1366) {
      font-size: 1rem;
      right: 16%;
      max-width: 48%;
    }
  }


  &__navbar{
    position: absolute;
    z-index: 20;

    &_right{
      right: 11%;
      position: absolute;
      bottom: 2vh;
      /* left: 0; */
      z-index: 2 !important;
      height: 15%;
    }
    &_left{
      left: 11%;
      transform: rotateY(180deg);
      position: absolute;
      bottom: 2vh;
    /* left: 0; */
    z-index: 2 !important;
    height: 15%;
  }
  &_light_right{
    position: absolute;
    z-index: 2 !important;

    right: 13.9%;
    bottom: 8.7vh;
    height: 8%;
    opacity: 0;
       &:hover{
         opacity: 1;
        }
  }
  &_light_left{
    transform: rotateY(180deg);
    position: absolute;
    z-index: 2 !important;

    left: 13.9%;
    bottom: 8.7vh;
    height: 8%;
    opacity: 0;
    &:hover{
      opacity: 1;
  }
  }
}

}
