
:root {
  --base-duration: 600ms;
  --base-ease: cubic-bezier(0.25, 0.46, 0.45, 0.84);
}


// =========================
// Slider
// =========================

.gallery-slider {
  --slide-size: 190px;
  --slide-margin: 4vmin;
  height: 200px;
  margin: 0 auto;
  position: relative;
  width: 300px;
  
  &__wrapper {
    display: flex;
    margin: 0 calc(var(--slide-margin) * -1);
    position: absolute;
    transition: transform var(--base-duration) cubic-bezier(0.25, 1, 0.35, 1);
    padding: 0;
  }
}

.news-slider {
  height: 100%;
  // --slide-size: 190px;
  // --slide-margin: 4vmin;
  // height: 240px;
  // margin: 0 auto;
  // position: relative;
  // width: 300px;
  
  &__wrapper {
    height: 100%;
    display: flex;
    margin: 0 calc(var(--slide-margin) * -1);
    // position: absolute;
    // bottom: 25px;
    @media #{$mq-xlarge} {
      bottom: 190px;
    }
    transition: transform var(--base-duration) cubic-bezier(0.25, 1, 0.35, 1);
    padding: 0;
  }
}



// =========================
// Slide
// =========================

.gallery-slide {
  align-items: center;
  color: white;
  display: flex;
  flex: 1 1;
  flex-direction: column;
  height: 300px;
  justify-content: center;
  margin: 0px 20px;
  position: relative;
  text-align: center;
  transition: opacity calc(var(--base-duration) / 2) var(--base-ease), transform calc(var(--base-duration) / 2) var(--base-ease);
  width: 245px;
  z-index: 1;

  &__image-wrapper {
    background-color: transparent;
    border-radius: 1%;
    height: 100%;
    left: 18%;
    overflow: hidden;
    position: absolute;
    top: 0%;
    transition: transform calc(var(--base-duration) / 4) var(--base-ease);
    width: 100%;
  }
}

.news-slide{
    align-items: center;
    color: white;
    // display: flex;
    flex: 1 1;
    flex-direction: column;
    // height: 300px;
    justify-content: center;
    // margin: 0px 40px;
    position: relative;
    right:-60vh;
    text-align: center;
    transition: opacity calc(var(--base-duration) / 2) var(--base-ease), transform calc(var(--base-duration) / 2) var(--base-ease);
    width: 65vh;
    z-index: 1;

    @include MIN_MAX_QUERY(1280 , 1366) {
      height: 0;
    }

    @media #{$mq-xlarge} {
      height: 160px;
    }

    &__image-wrapper {
      background-color: transparent;
      border-radius: 1%;
      height: 100%;
      left: 18%;
      overflow: hidden;
      position: absolute;
      top: 0%;
      transition: transform calc(var(--base-duration) / 4) var(--base-ease);
      width: 100%;
    }

    &__image {
      --d: 20;
      height: 122px;
      left: 4%;
      object-fit: cover;
      opacity: 0;
      pointer-events: none;
      position: absolute;
      top: 4%;
      transition: opacity var(--base-duration) var(--base-ease), transform var(--base-duration) var(--base-ease);
      -webkit-user-select: none;
      user-select: none;
      width: 200px;
      z-index: 2;
      
      @media (hover: hover) {
        .news-slide--current & {      
          transform: 
            translate(
              calc(var(--x) / var(--d) * 1px),
              calc(var(--y) / var(--d) * 1px)
            ); 
        }
      }
    }
}

.slide--current {
  // --x: 0;
  // --y: 0;
  // --d: 50;

  opacity: 1;
  pointer-events: auto;
  user-select: auto;
  
  @media (hover: hover) {
    &:hover .slide__image-wrapper {
      transform: 
        scale(1.025)
        translate(
          calc(var(--x) / var(--d) * 1px),
          calc(var(--y) / var(--d) * 1px)
        );
    }    
  }

  &-light{
    opacity: 1;
  }
}

.slide__image {
  --d: 20;
  height: 140px;
  left: 8%;
  // object-fit: cover;
  // opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 6%;
  transition: opacity var(--base-duration) var(--base-ease), transform var(--base-duration) var(--base-ease);
  -webkit-user-select: none;
  user-select: none;
  width: 200px;
  z-index: 2;
  
  @media (hover: hover) {
    .slide--current & {      
      transform: 
        translate(
          calc(var(--x) / var(--d) * 1px),
          calc(var(--y) / var(--d) * 1px)
        ); 
    }
  }

  @include MIN_MAX_QUERY(1280 , 1366) {
    top: 26%;
    height: 109px;  }
}

// =========================
// Animations
// =========================

@keyframes fade-in {
  from { opacity: 0 }
  to   { opacity: 1 }
}