
// All styles here...
@import './sections/index.scss';
@import './base/base_hub.scss';

.loadingContainer{
    background-image: "images/wall-left.png";
    height: 100vh;
}
.App{
    height: 100vh;
    // position: relative;
    // overflow: hidden;
    scroll
    &::-webkit-scrollbar {
        background: #999;
        width: 0;
      }
}

.walls{

    &__side-wall{
        position: fixed;
        width: 11%;
        height: 110%;
        top: -10px;
        z-index: 1;
    }
    &__background-image{
        position: fixed;
        width: 100%;
        // max-width: 1680px;
        height: 100%;
        z-index: -50;
        // filter: grayscale(1),;
        filter: blur(8px) grayscale(1);
        -webkit-filter: blur(8px) grayscale(1);
        -moz-filter: blur(8px) grayscale(1);
        -o-filter: blur(8px) grayscale(1);
        -ms-filter: blur(8px) grayscale(1);
    }
    img:first-child{
        left: -16px;
    }
    img:last-child{
        right: -14px;
    }
}

.frames{
    // max-width: 1920px;

    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__top-frame{
        width: 100%;
        max-width: 1680px;
        top: 0%;
        z-index: 7;
        position: fixed;
        pointer-events:none;
        height: 49%;
    }

    &__bottom-frame{
            width: 100%;
    max-width: 1680px;
        bottom: 0;
        z-index: 7;
        position: fixed;
        pointer-events:none;
        height: 49%;
    }
}
.frames{
    // max-width: 1920px;

    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__frame-top,&__frame-bottom{
        width: 100%;
        max-width: 1680px;
        z-index: 7;
        position: fixed;
        pointer-events:none;
        height: 49%;
    }
    &__frame-top{
        top:0%;
    }&__frame-bottom{
        bottom: 0%;
    }
  
}
.fixed{
    position: fixed;
}

.gear-stand{
    // width: 4.5%;
    height: 30%;
    z-index: 8;
    top: 34%;
}

.loading-gear{
    left: 10%;
    top: 45.8%;
    // width: 5%;
    z-index: 8;
    height: 9%;
}
.gear1{
    // left: 10%;
    top: 45.8%;
    // width: 5%;
    z-index: 8;
    height: 9%;
    &-loading{ 
        top: 40%;
        left: 40%;
    } 
}

.gear2{
    // left: 9.4%;
    top: 51.5%;
    // width: 6%;
    height: 12%;
    z-index: 7;
    &-loading{ 
        top: 42%;
        left: 31.7%;
    } 
}

.gear3{
    // left: 11%;
    top: 37.8%;
    // width: 5%;
    height: 10%;
    z-index: 7;
    &-loading{ 
        top: 42%;
        left: 46%;
    } 
}

.logo{
    position: relative;
    top: 2%;
    // width: 100%;
    height: 25%;
    display: flex;
    justify-content: center;
    z-index: 1;

    img:first-child{
        position: absolute;
        top: -22%;
        // width: 500px;
        // width: 34%;
        max-height: 100%;
    }

    img:last-child{
        position: absolute;
        // width: 25%;
        height: 70%;
        top: 7%;
    }
}

    

.content{
    position: absolute;
    width: 100%;
    max-width: 1680px;
    height: 100%;
    display: flex;
    justify-content: center;
    // left: 10%;
    top: 0;
    color:white;
    // z-index: 127;

    >div{
        width: 100% !important;
        height: 100% !important;
    }

    .section{
        display: flex;
        justify-content: center;
        align-items: center;
        width: inherit;
        height: inherit;
    }
}

.tabs{
    &__container{
        > img:first-child {
            top: 27%;
            z-index: 6;
            height: 52%;
            // right: 9.6%;
            position: fixed;
            pointer-events: none;
        }

        img:last-child{
            top: 44.1%;
            z-index: 129;
            height: 12%;
            // right: 11.3%;
            position: fixed;
            transition: opacity 2s ease-in-out;
        }
    }

    > img {
        height: 6%;
        position: fixed;
        // right: 12.7%;
        transition: transform 0.8s ease-in-out;
        z-index: 5;
        cursor: pointer;
    }

    &-0{ top: 31.5%;} 
    &-1{ top: 37.6%;}
    &-2{ top: 43.7%;}
    &-3{ top: 49.8%;}
    &-4{ top: 55.9%;}
    &-5{ top: 62%;}

}
.cloclwise,.antianticloclwise{
    animation: clockwiseSpin 2s linear infinite;
}
.anticloclwise{
    animation: antiClockwiseSpin 2s linear infinite;
}
.rotate {
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}

.section-header{
    position: relative;
    display: flex;
    height: 100%;
    justify-content: center;
    z-index: 6;
    pointer-events: none;

    img{
        transition: opacity .5s ease-in;
    }

    img:first-child{
        position: fixed;
        top: -11%;
        height: 32%;
        z-index: 4;
    }

    img:last-child{
        position: fixed;
        top: 6.5%;
        height: 8%;
        z-index: 4;
    }

    img:not(first-child ,last-child ) {
        position: fixed;
        top: 8%;
        height: 5%;
        z-index: 10;
    } 

  }


@keyframes antiClockwiseSpin {
	100% {transform: rotate(-360deg);}	
}

@keyframes antiClockwiseSpin {
	100% {transform: rotate(-360deg);}	
}

@-webkit-keyframes clockwiseSpin {
	100% {-webkit-transform: rotate(360deg);transform: rotate(360deg);}  
}

@keyframes clockwiseSpin {
	100% {-webkit-transform: rotate(360deg);transform: rotate(360deg);}	
}


/* 
-------------------------------- breakPoints
*/


@media #{$mq-xlarge} {
    .frames{
        img:first-child{
            top: 0%;
            height: 478px;
            left: 188px;
        }
    
        img:last-child{
            bottom: 0;
            height: 478px;
            left: 188px;
        }
    }
  }