.mobile-frames {
    // max-width: 1920px;

    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__frames-left,
    &__frames-right,
    &__background {
        position: fixed;
        pointer-events: none;
        height: 100vh;
        top: 0;
    }

    &__frames-left {
        z-index: 10;
        left: 0%;
    }

    &__frames-right {
        z-index: 10;
        right: 0%;
    }

    &__background {
        z-index: -10;
        top: 0%;
        width: 100%;

    }

}


.mobile-content {
    z-index: 1;
    display: flex;
    justify-content: center;

}

.section-header-mobile__title-image {
    width: 100vw;
}

.mobile-logo {
    width: 100vw;
    position: absolute;
    display: inline-flex;
    justify-content: center;

    img {
        max-height: 15vh;
        width: 65%;
        z-index: 5;
    }
}

.header {
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: center;

    .home-image {
        // width: 100%;
        position: relative;
        height: inherit;
    }
}

.mobile-section {
    max-height: 100vh;
    height: 100%;
    overflow: hidden;
    width: 100vw;
    max-width: calc(90vh * 11 / 16);

}

.mobile-video,
.mobile-gameplay {
    position: relative;
    display: flex;
    justify-content: center;

    &__image {
        z-index: 0;
        width: 95%;
        max-width: 95vw;
        height: 78vh;
        max-height: 78vh;
        top: 11vh;
        position: absolute;
    }
}

.blink_me {
    // animation: blinker 1.7s cubic-bezier(.5, 0, 1, 1) infinite alternate;  
    animation: blinker 1.5s step-start infinite;
}

//   @keyframes blinker { to { opacity: 0; } }

@keyframes blinker {
    0% {
        opacity: 0;
    }

    10% {
        opacity: 0;
    }

    20% {
        opacity: 0;
    }

    40% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    70% {
        opacity: 1;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

.mobile-join-us {
    display: flex;
    justify-content: center;

    .JoinUsText {
        width: 85%;
        top: 31vh;
        position: absolute;
    }

    position: relative;
    width: 100%;
    height: 100vh;

    &__press {
        width: 100vw;
        display: flex;
        justify-content: center;

        &__holder {
            width: inherit;
            position: absolute;
        }

        &__button {
            width: 39vw;
            position: absolute;
            top: 14vw;
        }

        &__button-light {
            width: 48vw;
            position: absolute;
            top: 8vw;
        }

    }

    &__body {
        &-social {
            position: absolute;
            height: 35%;
            bottom: 2vh;
            width: 40vh;
            max-width: 85%;



            a {
                height: 25%;
                width: 25%;
                bottom: 6.5vh;
                position: absolute;

                img {
                    position: absolute;
                    width: 100%;
                    opacity: 0;

                }

                &:hover {
                    img {
                        opacity: 1;
                        // visibility: visible;
                    }
                }

                img.clicked {
                    opacity: 1;
                }

                &:first-child {
                    left: 75%;
                    // left: 37.5vh;
                }

                &:nth-child(2) {
                    left: 50%;
                    // left: 48vw;
                }

                &:nth-child(3) {
                    left: 25%;
                    // left: 26.2vw;
                }

                &:nth-child(4) {
                    left: -0%;
                    // left: 5vw;
                }

                &:last-child {
                    width: 100%;
                    max-width: 100%;
                    display: flex;
                    justify-content: center;
                    height: -moz-fit-content;
                    height: 11vh;
                    bottom: calc(25vh * 10 / 16);
                    position: absolute;
                }


                &:last-child>img {
                    bottom: calc(0vh * 10 / 16);
                    height: 14vw;
                    width: 62%;


                }
            }
        }

        display: flex;
        align-items: flex-end;
        justify-content: center;
        position: relative;
        width: 100%;
        bottom: 14vh;
        height: 100vh;
        position: absolute;

        img {
            max-height: 35vh;
        }

        &-input {
            text-align: center;
            position: absolute;

            bottom: 26vh;
            height: 7vh;
            width: 75vw;
            // margin-left: -11%;

            background-color: transparent;
            opacity: 0.5;
            // height: 4.8%;
            color: white;
            border: none;
            font-size: 1.4em;
            z-index: 20;

            &:focus {
                outline: none;
            }
        }

    }
}




.news-mobile {
    width: 100%;
    height: 100vh;
    display: flex;
    position: relative;
    // padding-left: 180px;
    align-items: flex-end;
    overflow-x: hidden;
    justify-content: flex-start;

    &__slider {
        height: 100vh;

        &__wrapper,
        .silder_wrapper {
            list-style-type: none;
            height: 100%;
            display: flex;
            margin: 0 calc(var(--slide-margin) * -1);
            // position: absolute;
            // bottom: 25px;

            transition: transform var(--base-duration) cubic-bezier(0.25, 1, 0.35, 1);
            padding: 0;
        }
    }

    &__slide-li {
        width: calc(80vh * 11 / 16);
    }

    &__slider-wrapper {
        width: inherit;
        position: relative;

        &__content {
            white-space: pre-line;
            text-align: left;
            font-size: 1.8vh;
            margin-left: calc(15vh * 11 / 16);
            color: ivory;
            max-width: 50%;
            width: inherit;
            // max-width: 80%;
            top: 21vh;
            position: absolute;
            z-index: 4;
            max-height: 100vw;
            overflow-y: hidden;
            line-height: 1.2em;
            color: #deb887;
            position: absolute;
            z-index: 10;
            word-break: break-word;
            font-family: CourierPolski1941, sans-serif, Arial, Helvetica;
        }

        &__holder {
            width: inherit;
            top: 16vh;
            max-width: 80%;

            /* height: 75vh; */
            position: absolute;
            z-index: 3;
        }

        &__link {
            font-size: 2vh;
            line-height: 1.2em;
            color: burlywood;
            position: absolute;
            z-index: 14;
            left: calc(28vh * 11 / 16);
            max-width: 15vw;
            top: calc(107vh * 11 / 16);
            word-break: break-word;
            font-family: CourierPolski1941, sans-serif, Arial, Helvetica, sans-serif;
        }
    }


}

.gallery-mobile__navbar_left,
.news-mobile__navbar_left {
    position: absolute;
    bottom: 13vh;
    left: 10px;
    z-index: 6;
    height: 20vh;
}

.gallery-mobile__navbar_right,
.news-mobile__navbar_right {
    transform: rotateY(180deg);
    position: absolute;
    bottom: 13vh;
    right: 10px;
    z-index: 6;
    height: 20vh;

}


.gallery-mobile {
    &__slide-li {
        align-items: center;
        color: white;
        display: flex;
        flex: 1 1;
        flex-direction: column;
        height: 300px;
        justify-content: center;
        position: relative;
        text-align: center;
        transition: opacity calc(var(--base-duration) / 2) var(--base-ease), transform calc(var(--base-duration) / 2) var(--base-ease);
        width: 50vw;
        right: 15%;
        z-index: 1;

        &__image-wrapper {
            background-color: transparent;
            border-radius: 1%;
            height: 100%;
            left: 18%;
            // overflow: hidden;
            position: absolute;
            bottom: 0%;
            transition: transform calc(var(--base-duration) / 4) var(--base-ease);
            width: 100%;
        }
    }

    display: flex;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    position: relative;

    &__slider {
        --slide-size: 190px;
        --slide-margin: 4vmin;
        height: 100vh;
        margin: 0 auto;
        position: relative;
        max-width: calc(100vh * 11 / 16);

        &-wrapper {
            position: relative;

            img {
                position: absolute;
            }

            &__holder {
                z-index: 5;
                width: 55vw;
            }

            &__image {
                z-index: 6;
                width: 41vw;
                left: 7vw;
                bottom: -30vw;
            }
        }


        &__wrapper {
            bottom: 25vh;
            z-index: 1;

            display: flex;
            margin: 0 calc(var(--slide-margin) * -1);
            position: absolute;
            transition: transform var(--base-duration) cubic-bezier(0.25, 1, 0.35, 1);
            padding: 0;
        }
    }


    &__big-frame {
        position: absolute;
        width: 95vw;
        top: -10vh;
        display: flex;
        justify-content: center;

        /* height: 100%; */
        /* max-width: 1680px; */
        /* left: 50%; */
        /* margin-left: -50%; */
        z-index: 1;

        img:first-child {
            position: absolute;
            width: 95vw;
            top: 20vh;
            max-width: calc(85vh * 11 / 16);
            /* height: 100%; */
            /* max-width: 1680px; */
            /* left: 50%; */
            /* margin-left: -50%; */
            z-index: 1;

        }

        img:last-child {
            position: absolute;
            max-width: calc(70vh * 11 / 16);
            /* left: 21.4%; */
            width: 80vw;
            /* max-width: 90.8vh; */
            top: 30.5vh;
            z-index: 1;



        }
    }



}

.mobile-videos {
    height: 100%;
    width: 100%;

    &__body {
        height: inherit;
        display: flex;
        position: relative;
        align-items: flex-end;

        >img {
            // width: 70%;
            // right: 15%;
            height: 100vh;
            // max-height: 112vh;
            position: absolute;
            left: 50%;
            margin-left: -50%;
            width: 100%;
            top: -0;
            max-width: 1680px;
        }

        >div {
            position: relative;
            width: 100%;
            height: 100%;
        }

        &-main {
            position: absolute;
            top: 26vh;
            width: 68vw;
            overflow-x: hidden;

            &-container {
                width: 75vw;
                max-width: 70vw;
            }

            .videos__body-main-container {
                position: absolute;
                top: 38%;
                left: 48%;
                max-width: 70vh;
                max-height: 44vh;
                overflow: hidden;
                // max-width: calc( 100vh * 16 / 10*0.55);

                margin-left: -30%;
                width: 100%;

                .videos__body-main-youtube {
                    &-paused {
                        // height: 100%;
                        // width: 103%;
                        filter: sepia(100%);
                    }

                    &-end {
                        // height: 100%;
                        // width: 103%;
                        filter: sepia(100%);
                    }

                    &-ready {
                        // height: 100%;
                        // width: 103%;
                        filter: sepia(100%);
                    }

                    &-playing {
                        // height: 100%;
                        // width: 103%;
                    }
                }
            }
        }

        &-top {
            img:first-child {
                height: 10%;
                position: absolute;
                left: 106%;
                top: 44.5%;
            }

            img:last-child {
                height: 19%;
                position: absolute;
                right: -48.7%;
                top: 40%;
            }
        }

        &-down {

            img:first-child {
                height: 10%;
                position: absolute;
                left: 5%;
                bottom: 80px;
            }

            img:last-child {
                height: 19%;
                position: absolute;
                right: 52.5%;
                top: 75%;
            }
        }


    }
}


.mobile-walls {

    &__side-wall {
        position: fixed;
        width: 11%;
        height: 110%;
        top: -10px;
        z-index: 8;
    }

    &__side-bar-left,
    &__side-bar-right {
        position: fixed;
        height: 110%;
        top: -10px;
        z-index: 8;
        // width: 170px;prox37484be15-yt35prox37484891693
    }

    img:first-child {
        left: -16px;
    }

    img:last-child {
        right: -14px;
    }
}